body{
    background-color: #43464B;
    color: gray;
}

p{
    margin: 0px;
}

.rm-btn-style{
    background-color: inherit;
    border: none;
}

.rm-a-style{
    text-decoration: none;
    font-style: none;
    display: inline-block;
}

.page-container{

}

.dropdown{
    padding-left: 10px;
    padding-right: 10px;
}
.dropdown-content{
    display: none;
}
.dropdown.active .dropdown-content{
    display: block;
    position: absolute;
    background-color: black;
    padding-left: 10px;
}

/* Mobile */
@media only screen and (max-width:767.98px) {
    
}

/* Tablet */

@media only screen and (min-width:798px) and (max-width:991.98px){

}