/* 
Fonts: Verdana Rowdies

colors:#000000, #08f
*/


body{
    background-color: #43464B;
    color: gray;
    margin: 0px;
}

p{
    margin: 0px;
}

.rm-btn-style{
    background-color: inherit;
    border: none;
}

.rm-a-style{
    text-decoration: none;
    font-style: none;
    display: inline-block;
}

.page-container{

}
button{
    background-color: #000000;
    color: #ffffff;
    border: 2px ridge #091f44;
}

/* Default Dropdown CSS */
.dropdown{
    display: inline-block;
    border: none;
    background-color: black;
    color: #ffffff;
    cursor: pointer;
    padding: 5px;

    font-size: 16px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropdown:hover, 
.dropdown-item:hover{
    cursor: pointer;
    background-color: #7818b4;
}

.dropdown-content{
    display: none;
}

.dropdown.active{
    background-color: #7818b4;
}

.dropdown.active .dropdown-content{
    margin-top: 5px;
    display: block;
    position: absolute;
    background-color: black;
}

.dropdown-content>.dropdown-item{
    display: block;
}

/* Mobile */
@media only screen and (max-width:767.98px) {
    
}

/* Tablet */

@media only screen and (min-width:798px) and (max-width:991.98px){

}

/* Tabbed Text  */
.tabbed-text-container{
    background-color: #000000;
    border: 2px solid #7818b4;
}
.tabbed-text-header{
    background-color: inherit;
    width: 100%;
}
.tabbed-text-header button{
    border: 2px solid #7818b4;
}
.tabbed-text-header button.active{
    border: none;
}
.tabbed-text-content{
    max-width: 100%;
    width: 100%;
    min-height: 200px;
    background-color: inherit;
}
.tabbed-text-content div{
    max-width: 100%;
    padding: 4px;
    border-top: none;
}